<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
        .body {
            height: 100% !important; width: 100% !important; border-spacing: 0; border-collapse: collapse;
        }
        .header {
            margin: 40px 0 20px;
        }
        .footer {
            border-top-width: 1px;
            border-top-color: #e5e5e5;
            border-top-style: solid;
        }
        .row{
            width: 100%; 
            border-spacing: 0; 
            border-collapse: collapse;
        }
        .container {
            text-align: left; 
            border-spacing: 0; 
            border-collapse: collapse;
        }
        td {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        }
        a {
            text-decoration: none;
        }
        .content_cell {
            padding-bottom: 40px;
        }
        .actions {
            margin-top: 20px;
        }
        .main-action-cell {
            width:100%
        }
        .button_cell {
            border-radius: 4px;
            text-align: center;
            background-color: #297d94;
        }
        .button_text {
            font-size: 16px;
            display: block;
            color: #fff;
            padding: 20px 25px;
        }
        .link {
            width: 100%;
            text-align: center;
            margin-top: 19px;
        }
        .link_cell {
            font-size: 16px;
        }
        .footer_cell {
            padding: 35px 0;
        }
        .disclaimer_subtext {
            color: #999;
            line-height: 150%;
            font-size: 14px;
            margin: 0;
        }
        .button_text:hover{
            color: #fff;
            background-color: #1e5b6c;
        }
    </style>
</head>
<body>
    <table class="body">
        <tr>
            <td>
                <table class="header row">
                    <tr>
                        <td class="header__cell">
                            <table class="container" >
                                <tr>
                                    <td>
                                        <table class="row">
                                            <tr>
                                                <td class="shop-name__cell">
                                                    <h1 class="shop-name__text">
                                                        <a href="http://demo-gifting.myshopify.com">{{ shop.name }}</a>
                                                    </h1>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="row content">
                    <tr>
                        <td class="content_cell">
                            <table class="container">
                                <tr>
                                    <td>
                                        <p>Hi {{name}},</p>
                                        <p>Your subscription has been cancelled and you will not be billed for future orders</p>
                                        <p>Resubscribe anytime by logging in here:</p>
                                        <table class="row actions">
                                            <tr>
                                                <td class="actions_cell">
                                                    <table class=" main-action-cell">
                                                        <tr>
                                                            <td class="button_cell">
                                                                <a href="{{link}}" class="button_text">Manage Subscription</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table class="link secondary-action-cell">
                                                        <tr>
                                                            <td class="link_cell">or <a href="http://demo-gifting.myshopify.com">Visit our store</a></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table class="row footer">
        <tr>
            <td class="footer_cell">
                <table class="container" >
                    <tr>
                        <td>
                            <p class="disclaimer_subtext">Please email us at <a href="mailto:hello@hulkcode.com" style='font-size: 14px; '>hello@hulkcode.com</a> if you have any questions about your recurring orders.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>